@import 'variables.scss';

.cards {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) auto;
    gap: 2rem;
}
@media (max-width: $breakpoint-md) {
    .cards {
        gap: 1rem;
    }
}
@media (max-width: $breakpoint-md) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: $breakpoint-sm) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    user-select: none;
}

.image-wrapper {
    padding: 1.5rem;
    max-width: 100vw;
    max-height: calc(100vh - 8rem);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 8rem;
}

.image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
}