.card {
  min-height: 15rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card:hover {
  cursor: pointer;
}

.favorite {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
}
.favorite:hover {
  cursor: pointer;
}