html,
body,
#app {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.wrapper {
    margin: auto;

    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.header {
    width: 100%;
    height: 124px;
    
    border-bottom-width: 1px;
    border-bottom-style: solid;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;

    transition: background-color 0.2s ease-out;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sub_content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 16px;
}

.block {
    padding: 33px 66px;
}

.main {
    padding-top: 124px;
    min-height: 100%;

    transition: background-color 0.2s ease-out;
    
    position: relative;
}