@import 'variables.scss';

.settings-box {
    appearance: none;

    width: 2rem;
    height: 2rem;

    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.7;
    
    &:checked {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.limit {
    padding-left: 1rem;

    height: 2rem;
    width: auto;

    border-width: 1px;
    border-style: solid;
    border-radius: 20px;

    &:focus {
        outline: 0;
        border: 1px solid $active-color !important;
    }
}
@media (max-width: $breakpoint-sm) {
    .limit {
        width: 5rem;
    }
}

.settings-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.favorites {
    appearance: none;

    width: 2rem;
    height: 2rem;

    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.85;
    &:checked {
        outline: 0;
        border: 1px solid $active-color !important;
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.label {
    font-size: 12px;
}
